.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.space-b {
    justify-content: space-between;
}
.border {
    border: 2px solid;
}

.space-a {
    justify-content: space-around;
}

.space-e {
    justify-content: space-evenly;
}

.wrap {
    flex-wrap: wrap;
}

input {
    height: 30px;
    border-radius: 5px;
}

.m-20 {
    margin: 20px;
}

.h-200{
    height: 200px;
    width: 200px;
}

.imgHover{
    height: 200px;
    width: 200px;
}

.imgHover:hover{
    height: 400px;
    width: 400px;
}

.card {
    height: 380px;
    width: 200px;
}

.review {
    border: 2px solid;
    height: 100px;
    width: 300px;

}

.roundImg {
    height: 100px;
    width: 100px;
    border: 2px solid;
    border-radius: 50%;
}

.container {
    height: 150%;
}